<h2>Quản lý sinh viên</h2>
<ul class="home">
  <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"  >Trang chủ</a></li>
  <li><a [routerLink]="['/sinhvien']" routerLinkActive="router-link-active"  >Sinh viên</a></li>
  <li><a [routerLink]="['/singing']" routerLinkActive="router-link-active" >Đăng nhập</a></li>
  <li><a href="#">Nội dung</a></li>
  <li><a [routerLink]="['/themsinhvien']" routerLinkActive="router-link-active" >Thêm sinh viên</a></li>
</ul>
<br>
<router-outlet></router-outlet>
