<div id="themSV">
    <input placeholder="Họ tên" [(ngModel)]="namenew" />
    <br />
    <br>
    <input placeholder="Giới tính" [(ngModel)]="gendernew" />
    <br />
    <br>
    <input placeholder="Ngày sinh" [(ngModel)]="dateofbirthnew" />
    <br />
    <br>
    <input placeholder="Địa chỉ" [(ngModel)]="addnew" />
    <br />
    <br>
    <input placeholder="Quê quán" [(ngModel)]="PlaceofBirthnew" />
    <br />
    <br>
    <Button class="button" (click)="addsinhvien()">Thêm sinh viên</Button>
  </div>

